<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../app-grid.html">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
  
  <style is="custom-style">
    .container {
        border: 1px dotted blue;
    }
    app-grid {
      --app-grid-item-container: {
        border-radius: 4px;
        box-shadow: 4px 4px 8px lightgray;
        border: 1px solid gray;
        text-align: center;
        padding: 8px;
      }
    }
    .username {
      color: red;
    }
  </style>
</head>

<body>
  <!-- <div class="container"> -->
    <app-grid items='["paolo","nicholas"]'>
      <template>
        <p>[[item]]</p>
      </template>
    </app-grid>
  <!-- </div> -->

  <button id="set-items-button" onclick="demo.setItems()">Set items</button>

  <script>
    var demo = {
      appGrid: document.querySelector('app-grid'),
      setItems: function() {
        var k, items = [];
        for (k = 0; k < 100; k++) {
          items[k] = "paolo" + k;
        }
        this.appGrid.items = items;
      }
    }
  </script>

  <!-- app-grid>
    <template>
      <h1 class="username">[[item.last]] <small>[[item.first]]</small></h1>
      <p>Male: <span>[[item.male]]</span></p>
    </template>
  </app-grid>
  <script>
    document
      .querySelector('app-grid')
      .items = [
        {first: "paolo", last: "angioletti", male: true},
        {first: "michelangelo", last: "buonarroti", male: true}
      ];
  </script>-->
</body>
</html>

